body ,html{
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
}
/***Genral styling***/
.container{
	display: grid;
	grid-template-columns: repeat(2 ,12fr); 
	grid-template-rows: 0 400px 400px 400px 400px 400px ;


}
.header{
	color : #fff;
}
/**/
.hero{
	background: #ef7674;
	grid-column: 1 / -1;
}

/**/
.about{
	background:#f8f8f8;
	grid-column: 1 / -1;
}
/**/
.what-i-do{
	background:#ef7674;
}
.skills{

}

/**/
.portfolio{
	grid-column: 1 / -1;
	background:#ef7674;

}

/**/
.footer{
	grid-column: 1 / -1;
	background:#f8f8f8;

}
